#BGApic{

    position: fixed;
    animation: fadein 500ms;
  
}

.BGA{
position:center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;

  
}
.con{
    position: 100%  100%;
    height: 100%;
    width: 100%;
  size: 100%;
}
.font1{
    font-weight:900 ;
    position:50% 50% ;
}
.font2{
    font-weight:900 ;
    position:50% 50% ;
}
.font3{
    font-weight:900 ;
    position:50% 50% ;
}
.par1{
font-weight: 500;
position:50% 50% ;
}
.par2{
    font-weight: 500;
    position:50% 50% ;
}
.par3{
    font-weight: 500;
    position:50% 50% ;
}
.par4{
    font-weight: 500;
    position:50% 50% ;
}
.font4{
    font-weight: 500;
    position:50% 50% ;
}
body{

    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    -webkit-font-smoothing: antialiased;
    position:sticky;
}