#BGApic{

    position:initial;
    animation: fadein 500ms;
  size: initial;
   mask-repeat: initial;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-position: center;

}

.BGA{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.con{
    position:center;
 
  size: 100% 100%;
    position:sticky;
    height: 100%;
    width: 100%;
  position:initial;
  

}
.font1{
    font-weight:900 ;
    position:initial;
}
.font2{
    font-weight:900 ;
    position:initial;
}
.font3{
    font-weight:900 ;
    position:initial;
}
.par1{
font-weight: 500;
pposition:initial;
}
.par2{
    font-weight: 500;
    position:initial;
}
.par3{
    font-weight: 500;
    position:initial;
}
.par4{
    font-weight: 500;
    position:initial;
}
.font4{
    font-weight: 500;
    position:initial;
}
body , html{

        height: 100%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    -webkit-font-smoothing: antialiased;
    position:initial;
}
