#chat_container{
    overflow: hidden;
    width: 400px;
    height: 601px;
    margin-top:0vh ;
    right: 10%;
    background-color: rgb(0, 43, 80);
    background-image: linear-gradient(180deg,rgb(4, 94, 173),rgb(0, 26, 49));
    position: fixed;
    z-index: 1;
    border-radius: 20px;
    transform: scale(0);
    transition: all 300ms;
}
#chat_container1{
    overflow: hidden;
    width: 400px;
    height: 601px;
    margin-top:0vh ;
    right: 10%;
    background-color: rgb(0, 43, 80);
    background-image: linear-gradient(180deg,rgb(4, 94, 173),rgb(0, 26, 49));
    position: fixed;
    z-index: 1;
    border-radius: 20px;
    transform: scale(0);
    transition: all 300ms;
}
#chat_bar{
    background-color: rgba(0, 43, 80, 0);
display: flex;
align-items: center;
width: 100%;
height: 15%;
}
#friend_img{
width: 45px;
height: 45px;
display: flex;
overflow: hidden;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-left: 10px;
}
#friend_img img{
    width: 45px;
}
#friend_name{
    color: white;
    width: 70%;
    margin-left: 20px;
    font-weight: 700;
    font-size: larger;
    font-family: 'Maven Pro',Arial, Helvetica, sans-serif;
}
#exit_chat{
    width: 30px;
    font-weight: 900;
    font-size: larger;
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 10px;
    text-align: center;
    transition: all 200ms;
    cursor: pointer;
}
#exit_chat:hover{
    transform: scale(1.1);
}
#exit_chat2{
    width: 30px;
    font-weight: 900;
    font-size: larger;
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 10px;
    text-align: center;
    transition: all 200ms;
    cursor: pointer;
}
#exit_chat2:hover{
    transform: scale(1.1);
}
#messages_container{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5%;
display: flex;
flex-direction: column;
height: 70%;
width: 100%;
}
#messages_container::-webkit-scrollbar {
    display: none;
  }
.from_mess{
    font-family: Arial, Helvetica, sans-serif;
margin-left: 20px;
width: fit-content;
max-width: 300px;
height: fit-content;
margin-top: 2.5%;
margin-bottom: 2.5%;
word-wrap: break-word;
background-color: rgb(251, 247, 247);
border-radius: 20px;
border-bottom-left-radius: 0;
padding: 10px;
box-shadow: rgb(0 0 0 / 20%) 6px 10px 20px;

}
.to_mess{
    font-family: Arial, Helvetica, sans-serif;
 font-size: medium;
align-self: flex-end;
margin-top: 2.5%;
margin-bottom: 2.5%;
width: fit-content;
max-width: 300px;
height: fit-content;
margin-right: 20px;
color: rgb(0, 0, 0);
border-radius: 20px;
border-bottom-right-radius: 0;
background-color: rgb(177, 168, 168);
padding: 10px;
box-shadow: rgb(0 0 0 / 20%) 6px 10px 20px;


}
#send_bar{
display: flex;
flex-direction: row;
}
#send_bar input{
    outline-color: rgb(117, 117, 117);
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
#send{
    width: 50px;
    height: 40px;
}
#send img{
    width: 30px;
    height: 30px;
    transition: all 300ms;
}
#send img:hover{
    transform: scaleX(1.3);
}
#open_chat{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 6%;
    margin-bottom: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 43, 80);
    color: white;
    z-index: 4;
    transform: scale(1);
    transition: all 300ms;
}



#DRs {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    z-index: -3;
    padding: 0;
    background-color: #1d1f2c00;
     margin-top: 0vh; 
     margin-right: 0vh;
    right: 0;
  }
  .drs{
    width: 95%;
  }
  .drs_img{
    user-select: none;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left:10px;
  }
  .drs_img img{
    width: 30px;
  }
  .drs_name{
  overflow: hidden;
  font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  user-select: none;
  font-weight: 600;
  width: 70%;
  margin-left: 10px;
  }
  .drs_chat{
    padding: 0%;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #fff;
    font-weight: 600;
    color: #001745;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
  }
  .drs_chat:hover{
    background-color: #001745;
    color: #fff;
  }