*{
    scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
  background-color:#edeefa;
  background-attachment: fixed;
  width: 100vw;
  height: fit-content;
  display:inline;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
}
.aboutus{
    background-color: rgb(30, 17, 61);
    position: absolute;
    color: white;
    width: 500px;
    height: 300px;
    font-size: 20px;
    margin: 200px 0 0 150px;
    border-radius: 2rem;
    animation-name: about;
    animation-duration: 1s;
}
.aboutus h3{
    color: white;
    margin: 20px;
}
.aboutus p{
    margin-left: 15px;
}
.aboutus button{
    margin:25px 0 0 50%;
    width: 200px;
    height: 40px;
    border: 2px;
    border-color: white;
    color: white;
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 300;
    transition: all 200ms;
}
.aboutus button:hover,.aboutus button a:hover{
    color:#000635;
    background-color: rgb(255, 255, 255);
}
.team{
    margin-top: 8%;
    margin-left:55%;
    color: white;
    font-size: 20px;
    overflow: visible;
    position: fixed;
  }
.team h3{
    background-color:rgba(0, 0, 0, 0);
    color: rgb(30, 17, 61);
    width: 200px;
    border-radius: 2rem;
    text-align: center;
    animation-name: anime ;
    animation-duration: 2s;
}
.team img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
}
.team div{
    position: absolute;
    background-color: transparent;
    text-align: center;
    border-radius: 100%;
    border: 2px;
    border-style: solid;
    border-color: #000635;
    background-color: white;
    width: 150px;
    height: 150px;

}
.adel{
  transition: all 200ms;

}
.amr{
    margin: 150px;
    transition: all 200ms;

    }
.shahd{
    margin-left: 300px;
    transition: all 200ms;

}
.ahmed{
    margin-top: 300px;
    transition: all 200ms;

}
.sara{
    margin:300px 0 0 300px;
    transition: all 200ms;

}
.members:hover{
  box-shadow: rgb(0, 0, 0,30%) 0px 0px 20px;
}
@keyframes anime {
  0%{opacity: 0%; top: 100px;}
  25%{opacity: 25%; top: 75px;}
  50%{opacity: 50%; top: 50px;}
  75%{opacity: 75%; top: 25px;}
  100%{opacity: 100%; top: 0px;}
}
@keyframes about {
  0%{opacity: 0%; }
  25%{opacity: 25%;}
  50%{opacity: 50%; }
  75%{opacity: 75%; }
  100%{opacity: 100%; }
}
