*{
    font-family: Source Sans Pro, 'Roboto',Arial, Helvetica, sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container{
    padding: 0%;
    margin:0 ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:radial-gradient(rgb(111, 111, 111),rgb(2, 0, 52));
    background-repeat: no-repeat;
    background-size: 100%;
}
#Booking{
    z-index: 1;
    color: black;
    overflow:hidden;
    animation: form 900ms;
    border-radius: 30px;
    display: flex;
    height: 60%;
    width: 50%;
    filter: blur(0px);
    background-color:rgb(255, 255, 255);
}
.form-left{
    padding-left: 10%;
    display: flex;
    position: fixed;
    padding-top: 10px;
    flex-direction: column;
}
.form-left label{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500 bold;
}
.form-left input{
    border: 0;
    border-bottom:1px ;
    border-color: black;
    border-style: solid;
    width: 150px;
    transition: all 300ms;
}
.form-left input:focus{
    outline: none;
}
.form-right{
    padding-left: 50%;
    display: flex;
    padding-top: 10px;
    flex-direction: column; 
    padding-top: 10%;
}
.form-right label{
    font-size: 20px;
    padding: 15px 0;
    font-weight: 500 bold;
}
.form-right input{
    border: 0;
    border-bottom:1px ;
    border-color: black;
    border-style: solid;
    width: 150px;
    transition: all 300ms;
}
.form-right input:focus{
    outline: none;
}
#done{
    align-self: center;
    width: 175px;
    height: 30px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
}
#done:hover{
    color: white;
    background-color: black;
}
.errors{
    color:red;
    font-size:10px;
}
input[class="b_b"]::file-selector-button{
    height: 20px;
    width: 100px;
    background-color: #4f46ae;
    border: 0;
    color: white;
    border-radius: 10px;
  }
input[class="b_b"]::file-selector-button:hover {
    background-color: #001745;
    color: white;
  }
 select{
    cursor: pointer;
    margin: 10px 0;
 height: 30px;
 outline: none;
 border: 1px;
 border-radius: 5px;
 }
 select:hover{
    box-shadow: 0 0 5px 0 rgba(0, 106, 255, 0.5);
 }
  select option {
    color: rgb(255, 255, 255);
    outline: none;
    border: 1px;
    border-radius: 10px;
    background-color:black;
  }