
  header{
    justify-content:space-between;
    width: 100vw;
    height:10vh;
    align-items: center;
    display:none;
    flex-direction: row;
    position: fixed;
    background-color:#edeefa;
    top: 0;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 6px;
    z-index:2 ;
  }  
  ul,li{
    justify-content: space-between;
    display: inline-block;
    margin-left: 5%;    
  }
  ul{
    width: 40%;
    height: fit-content;
  }
  .links{
    margin: 0;
    text-decoration: none;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    color:#000635;
    font-size: 1.2vw;
	  cursor:pointer;
    border: 0;
    border-style: solid;
    border-color: #000635;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    transition: all 300ms;
  }
  .links:hover{
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #edeefa;
    border: 1px;
    border-radius: 20px;
      }
      li a,
      a {
       position: relative;
     }
     li a:after,
     li a:after{
       position: absolute;
       top: 1;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       width: 0%;
       content: '.';
       color: transparent;
       background-color: #000635;
       height: 1px;
     }
     @keyframes links{
       0%{
         width: 20%;
         height: 1px;
       }
       60%{
         width: 100%;
         height: 1px;

       }
       100%{
        width: 100%;
         height: 100%;
       }
     
     }
      li a:hover:after {
       z-index: -1;
       animation: links 600ms forwards;

     }
  .user-logo{
    user-select: none;
    cursor: pointer;
    color: #000635;
    border: none;
    border-radius: 100%;
    width: fit-content;
    height: 20px;
    margin-right: 2%;
    justify-content: baseline;
    display: flex;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: larger;
    align-items: center;
  }
  #login-logo{
    color: #000635;    
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
  }
  .login-logo-img{
    width:30px ;
    display: flex;
  }
  .search-logo{
    margin: 0;
    margin-right: 0;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: #000635;
    letter-spacing: 1px;
    font-size: 1.2vw;
    width: fit-content;
    margin-top: 1vh;  
}
  .search{
    transition: 100ms;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom:1px ;
    border-style:groove;
    border-color: rgb(4, 0, 27);
    padding-bottom:3px ;
    width:5vw ;
    color: rgb(4, 0, 27);
    margin-left: 5vw;
    margin-right: 0px ;
    font-size: 0.8vmax;   
    outline: 0;
     
  }
  .search:focus,.search:hover{
    width: 8vw;
    margin-left: 2vw;
    transform: scale(8vw,0);
  }
  .logo-img{
    width: 15vw;
     margin-left: 5%;
	  cursor:pointer;
    transition: all 300ms;
    transform:scale(0.9);
    animation: logo2 1s;
  }
  @keyframes logo{
  0%{transform:scale(0.9);}
  10%{transform:scale(1);}
  100%{transform:scale(1.1);}
  }
  @keyframes logo2{
    0%{transform:scale(1);}
    100%{transform:scale(0.9);}
    }
  .logo-img:hover{
    animation: logo 4s;
    transform:scale(1.1);
  }
.search-logo-img{
    width: 1vw; 

  }
  .user-logo{
    width: fit-content; 
  }

  /****************** profile */


  #profile{
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin-top: -65vh;
    margin-right: 1vw;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    width: 200px;
    height: 400px;
    background-color: #18182a;
    transition: all 300ms;

  }
  #profile_photo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
  }
  #profile_photo img{
    width: 100px;
  }
  #change_photo,#change_photo a{
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;

  }
  #change_name, #change_name a{
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  #change_photo a,#change_name a{  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #out_form, #out_form button{
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;

  }
  #out_form button{    
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  #change_photo,#change_name,#out_form{
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    background-color: #282b43;
    transition: all 300ms;
  }
  #change_photo:hover,#change_name:hover,#out_form:hover{
    background-color: #19181d;

  }
