@keyframes sll2 {
    0% {transform:translateY(-10vh);}
    100%  {transform: translateY(0vh);}
  }

  header{
    animation: sll2 1s ;
    justify-content:space-between;
    width: 100vw;
    height:10vh;
    align-items: center;
    display:flex;
    flex-direction: row;
    position: fixed;
    background-color:#edeefa;
    top: 0;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 6px;
    z-index:1 ;
  }  
  ul,li{
    justify-content: space-between;
    display: inline-block;
    margin-left: 5%;    
  }
  ul{
    width: 90%;
    height: fit-content;
  }
  .links{
    margin: 0;
    text-decoration: none;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    color:#000635;
    font-size: 1.2vw;
	  cursor:pointer;
    border: 0;
    border-bottom:0px ;
    transition: all 200ms;
  }
  .links:hover{
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1f30af;
    padding-bottom:4px ;
      }
      #logout{
        margin-right: 50px;
        cursor: pointer;
      }
  .user-logo{
    color: #000635;
    border: none;
    margin-right: 5vw;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    justify-content: baseline;
    display: flex;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: larger;
  }
  #login-logo{
    color: #000635;    
    text-decoration: none;
    margin-right: 5px;

  }
  .login-logo-img{
    color: #000635;
    width:20px ;
    display: flex;
  }
  .search-logo{
    margin: 0;
    margin-right: 2%;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: #000635;
    letter-spacing: 1px;
    font-size: 1.2vw;
    width: 35vw;
    margin-top: 1vh;  
}
  .search{
    transition: 100ms;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom:1px ;
    border-style:groove;
    border-color: rgb(4, 0, 27);
    padding-bottom:3px ;
    width:5vw ;
    color: rgb(4, 0, 27);
    margin-left: 5vw;
    margin-right: 0px ;
    font-size: 0.8vmax;    
  }
  .search:focus,.search:hover{
    width: 10vw;
    border: 0;
    outline: 0;    
    border-bottom:1px ;
     border-style:groove;
     border-color: rgb(4, 0, 27);
     padding-bottom:3px ;
     margin: 0;
     transform: scale(10vw,0);
  }
  .logo-img{
    width: 15vw;
     margin-left: 5%;
	  cursor:pointer;
  }
  .user-logo,.search-logo-img{
    width: 1vw; 

  }
