* {
	scroll-behavior: smooth;
	text-size-adjust: 100%;
}

::-webkit-scrollbar {

	width: 3px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	z-index: -1;
}

#scrollup {
	scroll-behavior: smooth;
	cursor: pointer;
	font: bold 20px "Rubik";
	display: none;
	align-items: center;
	justify-content: center;
	color: #edeefa;
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	background-color: #006d92;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-bottom: 5%;
	margin-right: 3%;

}

body{
    scroll-behavior: smooth;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	background-color: #424261;
    width: fit-content;
    height: fit-content;
    display:inline;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
  }
  #add-event{
    z-index: 2;
    display:none;
    position: fixed;
    margin-bottom:31%;
    background-color: rgba(0, 0, 0, 0.353);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#exit{
    position: absolute;
    border-radius: 5px;
    font-size: 50px;
    color: white;
    top: 30px;
    right: 30px;
    width: 50px;
    text-align: center;
    height: fit-content;
    transition: all 300ms;
    cursor: pointer;
}
#exit:hover{
    
background-color: rgba(0, 0, 0, 0.533);


}

  .bage{
	width: 100vw;
	height: 90vh;
	margin-top: 10vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
  }
  #f-btns {
	height: 40vh;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;

}

.fbtn {
	opacity: 1;
	font-family: Source Sans Pro;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #040027;
	background-color: #c2c3d2;
	height: 60px;
	width: 100px;
	margin-left: 9vw;
	border: solid;
	border-color: #040027;
	border-width: 2px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0;
}
  #cont-home {
    display: block;
	width: 100vw;
	height: 90vh;
	margin-top: 20vh;
}

.container {
	margin: auto;
	width: 990px;
	height: 60%;
	bottom: 0;
	position: relative;
	margin-bottom: 0;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;

}

#f2 {
	transform: rotateX(90deg) translateZ(243px) translateY(20px);
}
#f4 {
	transform:rotateX(270deg) translateZ(242px)  translateY(-20px);
}
#f1 {
	transform: rotateX(0deg) translateZ(263px);
}
#f3 {	
	transform: rotateZ(0deg)  rotateX(180deg) translateZ(224px);
}

#f1,
#f2,
#f3,
#f4 {
	background-color: #040027;
	border: none;
	border-radius: 10px;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	position: absolute;
}

#row1,
#row2 {
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rooms {
	border:2px solid #0000;
	border-radius:20px;
	position: relative;
	color: white;
	font-family: 'Helvetica', 'sans-serif';
	width: 130px;
	height: 130px;
	background-color: #c2c3d2;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
    transition: all 500ms;
	overflow: hidden;
	    background-image: linear-gradient(rgba(0, 0, 0, 0.389),rgba(0, 0, 0, 0.389));

}

.rooms:hover {
	border:2px solid #0000;
	border-radius:20px;
    animation: border;
	animation-timing-function: linear;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
}
.about{
	color: rgb(57, 57, 57) ;
	height: 40%;
	font-size: small;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}
.book_button{
	margin-bottom: -200px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 3px;
	width: 70px;
	height: 20px;
	background-color: rgb(57, 57, 57);
	color: white;
	transition: all 300ms
}
.book_button:hover{
	background-color: aliceblue;color: rgb(57, 57, 57);
}

#cube {
	transform-style: preserve-3d;
	width: 120%;
	height: 120%;
    bottom: 0;
	position: relative;
	transition: all 500ms;
	transform: rotateY(360deg);
}
.available{
	
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	font-size: 15px;
	text-align: center;
	font-weight: 800;
}