*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
  background-color:#edeefa;
  background-attachment: fixed;
  width: 100vw;
  height: fit-content;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 2000vh;
}
/*************---Start Bout Us Section***********/
.aboutus{
  height: 725px;
}
.aboutus-p{
  background-color: rgb(30, 17, 61);
  position: absolute;
  color: white;
  width: 500px;
  height: 300px;
  font-size: 20px;
  margin: 200px 0 0 150px;
  border-radius: 2rem;
  animation-name: about;
  animation-duration: 1s;
}
.aboutus-p h3{
    color: white;
    margin: 20px;
    font-family: "Maven Pro",'Courier New', Courier, monospace;
    font-weight: 400;

}
.aboutus-p p{
  font-family: "Open sans",'Courier New', Courier, monospace;
    margin-left: 15px;
    font-weight: 200;
}
.aboutus-p button{
  margin:25px 0 0 50%;
  width: 200px;
  height: 40px;
  border: 2px;
  border-color: white;
  color: white;
  border-style: solid;
  border-radius: 20px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  transition: all 200ms;
}
.aboutus-p button a:hover,button:hover{
  color:#000635;
  background-color: rgb(255, 255, 255);}
.team{
    margin-top: 6%;
    margin-left:55%;
    color: white;
    overflow: visible;
    text-align: center;
    position: absolute;
  }
.team h1{
    margin: 0 0 30px 150px;
    background-color:transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    animation-name: anime ;
    animation-duration: 2s;
    font-family: "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
}
.team img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.team div{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    align-items: center;
    text-align: center;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px;
    border-style: solid;
    border-color: #000635;
}
.team div h2{
  font-weight: 900;
  font-family: "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}
.names{
  color: rgba(0, 0, 0, 0.0);
  position: absolute;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all 400ms;
}
.names:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.397);

}
.adel{
  transition: all 200ms;
  cursor: pointer;
  animation-name: team ;
  animation-duration: 3s;
  width: 175px;
}
.amr{
    margin: 150px ;
    animation-name: team ;
    animation-duration: 3s;
    cursor: pointer;
}
.shahd{
    margin-left: 300px;
    animation-name: team ;
    animation-duration: 3s;
    cursor: pointer;
}
.ahmed{
    margin-top: 300px;
    animation-name: team ;
    animation-duration: 3s;
    cursor: pointer;
}
.sara{
    margin:300px 0 0 300px;
    animation-name: team ;
    animation-duration: 3s;
    cursor: pointer;
}
.adel:hover,
.amr:hover,
.ahmed:hover,
.sara:hover,
.shahd:hover{box-shadow: rgb(0, 0, 0,30%) 0px 0px 20px;}
@keyframes team{
  0%{opacity: 0%; }
  25%{opacity: 25%; }
  50%{opacity: 50%; }
  75%{opacity: 75%;}
  100%{opacity: 100%; }
}
@keyframes anime {
  0%{opacity: 0%; top: 100px;}
  25%{opacity: 25%; top: 75px;}
  50%{opacity: 50%; top: 50px;}
  75%{opacity: 75%; top: 25px;}
  100%{opacity: 100%; top: 0px;}
}
@keyframes about {
  0%{opacity: 0%; }
  25%{opacity: 25%;}
  50%{opacity: 50%; }
  75%{opacity: 75%; }
  100%{opacity: 100%; }
}
                          /*--------------------------pop up Pages------------------------------*/
/*************The Main contain Popup******************/
.popup-container{
  margin: 80px 0 0 35%;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background:rgb(54, 37, 93);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(40, 40, 40, 0.347);
  font-family: Source Sans Pro, 'Roboto',Arial, Helvetica, sans-serif;
}
#image{
  width: 130px;
  height: 130px;
  align-self: center;
  border: 3px solid white;
  border-radius: 50%;
  padding: 3px;
}
#image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(39, 26, 79);
}
#popup-name{
  font-size: 25px;
  margin-top: 10px;
  padding: 4px;
  background: rgba(0, 0, 90, .2);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  align-self: center;
  font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#popup-skills{
  margin: 50px 0px 5px 5px;
  padding-right: 10px;
  width: 50%;
  border-right: 5px solid white;
  height: 55%;
}
#popup-title-Skills{
  display: block;
  width: 150px;
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
#popup-subject-row{
  margin: 8px 0 5px 0px;
  width: 100%;
}
#popup-subject-name{
  color: white;
  width: 40%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
#popup-subject-body{
  display: flex;
  width: 70%;
  height: 30px;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
}
#popup-contact{
  display: none;
  margin: 240px 0px 5px 0px;
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
  text-align: left;
}
#popup-contact-title{
  display: block;
  width: 175px;
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
#popup-contact-row{
  width: 100%;
  margin-bottom: 10px;
}
#popup-contact-row p{
  color: white;
  font-size: 18px;
  width: 70%;
  margin-left: 10px;
  font-weight: 600;
}
#popup-contact-row a{
  color: white;
  text-decoration: none;
}
#popup-contact-row a:hover{color: blue; text-decoration: 1px underline solid;}
#popup-contact-row img{
  width: 20px;
  height: 20px;
  border-radius: 2rem;
  margin-right: 5px;
}

section.show-adel .container,
section.show-amr .container,
section.show-ahmed .container,
section.show-sara .container,
section.show-shahd .container{  opacity: 50%; }

#close{
  margin:10px 10px 0px 95%;
  height: 50px;
  width: 50px;
  display: inline;
  position: absolute;
  cursor: pointer;
}
#close:hover{background-color: white;}
/*------------Adel Popup----------*/
#popup-adel-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(138, 134, 134, 0.53);
  opacity: 0;
  pointer-events: none;
  
}
section.show-adel #popup-adel-body{
  opacity: 100%;
  pointer-events: auto;
 }
/*************Adel Skills*************/
#popup-adel-skill1{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 12, 224, 0.871) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-adel-skill2{
  display: block;
  margin-top: 5px;
  width:80%;
  background-color: rgb(197, 62, 62) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-adel-skill3{
  display: block;
  margin-top: 5px;
  width: 90%;
  background-color: orange ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-adel-skill4{
  display: block;
  margin-top: 5px;
  width: 80%;
  background-color: rgba(0, 215, 235, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
/*--------Adel Contact-----------*/
#popup-adel-facebook{
  color: rgb(0 ,0 ,255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-adel-gmail{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-adel-linkedin{
  color: rgb(0, 119, 255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
/*------------Amr Popup----------*/
#popup-amr-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(138, 134, 134, 0.53);
  opacity: 0;
  pointer-events: none;
}
section.show-amr #popup-amr-body{
  opacity: 100%;
  pointer-events: auto;
 } 
 /*************Amr Skills ***************/
#popup-amr-skill1{
  display: block;
  margin-top: 5px;
  width: 70%;
  background-color: rgba(51, 12, 224, 0.871) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-amr-skill2{
  display: block;
  margin-top: 5px;
  width:95%;
  background-color: rgb(197, 62, 62) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-amr-skill3{
  display: block;
  margin-top: 5px;
  width: 60%;
  background-color: orange ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}

/*--------------Amr Contact-------------*/
#popup-amr-facebook{
  color: rgb(0, 0, 255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-amr-gmail{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-amr-linkedin{
  color: rgb(0, 119, 255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
/*------------Ahmed Popup----------*/
#popup-ahmed-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(138, 134, 134, 0.53);
  opacity: 0;
  pointer-events: none;
}
section.show-ahmed #popup-ahmed-body{
  opacity: 100%;
  pointer-events: auto;
 } 
 /*************Ahmed Skills ***************/
#popup-ahmed-skill1{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 12, 224, 0.871) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-ahmed-skill2{
  display: block;
  margin-top: 5px;
  width:100%;
  background-color: rgb(197, 62, 62) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-ahmed-skill3{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(0, 215, 235, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-ahmed-skill4{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: orange ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-ahmed-skill5{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(1, 209, 88, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
/*--------------Ahmed Contact-------------*/
#popup-ahmed-facebook{
  color: rgb(0, 0 ,255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-ahmed-gmail{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
/*------------Sara Popup----------*/
#popup-sara-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(138, 134, 134, 0.53);
  opacity: 0;
  pointer-events: none;
}
section.show-sara #popup-sara-body{
  opacity: 100%;
  pointer-events: auto;
 } 
 /*************Sara Skills ***************/
#popup-sara-skill1{
  display: block;
  margin-top: 5px;
  width: 95%;
  background-color: rgba(51, 12, 224, 0.871) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-sara-skill2{
  display: block;
  margin-top: 5px;
  width:70%;
  background-color: rgb(197, 62, 62) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-sara-skill3{
  display: block;
  margin-top: 5px;
  width: 87%;
  background-color: orange ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-sara-skill4{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(0, 215, 235, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-sara-skill5{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(1, 209, 88, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
/*--------------sara Contact-------------*/
#popup-sara-facebook{
  color: rgb(0 ,0 ,255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-sara-gmail{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
/*------------Shahd Popup----------*/
#popup-shahd-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(138, 134, 134, 0.53);
  opacity: 0;
  pointer-events: none;
}
section.show-shahd #popup-shahd-body{
  opacity: 100%;
  pointer-events: auto;
 } 
 /*************shahd Skills ***************/
 #popup-shahd-skill1{
  display: block;
  margin-top: 5px;
  width: 90%;
  background-color: rgba(51, 12, 224, 0.871) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-shahd-skill2{
  display: block;
  margin-top: 5px;
  width:70%;
  background-color: rgb(197, 62, 62) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-shahd-skill3{
  display: block;
  margin-top: 5px;
  width: 70%;
  background-color: orange ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-shahd-skill4{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(0, 215, 235, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
#popup-shahd-skill5{
  display: block;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(1, 209, 88, 0.704) ;
  border-radius: 40px;
  text-align: right;
  height: 17px;
  color: white;
}
/*--------------Shahd Contact-------------*/
#popup-shahd-facebook{
  color: rgb(0 ,0 ,255);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
#popup-shahd-gmail{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
/*************---End Bout Us Section***********/
.about-project{
  height: 500px;
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.about-project h1{
  margin: 20px 0 20px 0;
  font-family: "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-project-body-paragraph{
  width: 60%;
  height: 100%;
}
.about-project .about-project-paragraph{
  background-color: rgb(30, 17, 61);
  color: white;
  width: 400px;
  height: 300px;
  font-size: 20px;
  border-radius: 2rem;
  margin: 50px 50px 0 150px;
  text-align: center;
  animation-name: project;
  animation-duration: 2s;
}
.project-photos{
  width: 50%;
  height: 100%;
}
.project-photos .photo{
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  height: 190px;
  width: 190px;
  position: absolute;
  animation-name: project;
  animation-duration: 2s;
}
.project-photos .photo:hover{
  box-shadow: 0 0 5px black;
}
.project-photos img{
  width: 100%;
  height: 100%;
}
#photo2{
  margin: 150px;
}
#photo3{
  margin-left: 300px;
}
#photo4{
  margin-top: 300px;
}
#photo5{
  margin: 300px 300px;
}
@keyframes project {
  0%{transform:translateY(50px);opacity: 0%;}
}