
* {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
background-color: #edeefa;
	width: 3px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
  color: #000635;
  width: 4px;

}
::-webkit-scrollbar-thumb {
  background: #000635; 
  border-radius: 10px;
}

body{
    scroll-behavior: smooth;
    background-color:#040027;
    width: 100vw;
    height: fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}
#container{
    background-color:#191823;
    width: 90vw;
    overflow: hidden;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 3vh;
    border: 2px solid transparent;
    border-radius: 30px;
    border-top-width: 0;
    border-image: linear-gradient(#00000000,#2d0dc9,#2d0dc9,#00000000) 0.1% round;
    -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
}

#posts{
  justify-content:space-evenly;
  margin-left: 5%;
  display: flex;
  height:auto;
  flex-direction: column-reverse;
  justify-content: baseline;
  align-items: baseline;
  width: 70%;
  overflow: scroll;
  overflow-x: hidden;
}
.post_div{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color:#1d1f2c;
  border-radius: 10px;
  overflow: hidden;
  width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 650px;
}
.user_post{
  align-self: flex-start;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.user_photo{
  margin-left: 40px;
  width:40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.user_name{
  width: 200px;
  color: white;
  font-family:  "Maven Pro", sans-serif;
  font-weight: 800;
  margin-left: 20px;
  font-size: medium;
}
.div_cap{
  display: flex;
  align-items: center;
  width: 90%;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: smaller;
  justify-content: space-between;
}
.caption_post{
  color: white;
  word-break: break-all;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}
.date_time{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 700;
  color: #858585;
  align-self: flex-end;
  text-align: end;
  margin-left: 360px;
}
#post{
  width: 345px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: -3;
  background-color: #1d1f2c;
  margin-right: 10vh;
  right: 0;
}
#post #caption{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  overflow:auto;
  background-color: rgba(1,1,1,0);
  outline: none;
  margin: 10px 0;
  border: 1px;
  border-radius: 2%;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 250px;
  height: 150px;
  word-break: break-all;
 resize: none;
  transition: all 300ms;
}
input[id="post_image"]::file-selector-button{
  height: 20px;
  width: 100px;
  background-color: #4f46ae;
  border: 0;
  color: white;
  border-radius: 10px;
}
input[id="post_image"]::file-selector-button:hover {
  background-color: #001745;
  color: white;
}
#post_image{
  color: rgb(255, 255, 255);

}
#post button{
  font-weight: 600;
  height: 30px;
  width: 90px;
  margin-top: 10%;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  background-color: white;
  transition: all 200ms;
}
#post button:hover{
  color: white;
  background-color: black;
}
#DRs{
  width: 345px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: -3;
  padding:0;
  background-color: #1d1f2c;
  margin-top: 40vh;
  margin-right: 10vh;
  right: 0;
}
.drs{
  padding: 0%;
 color: #fff;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
.drs_img{
  user-select: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left:10px;
}
.drs_img img{
  width: 30px;
}
.drs_name{
overflow: hidden;
font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
user-select: none;
font-weight: 600;
width: 70%;
margin-left: 10px;
}
.drs_chat{
  padding: 0%;
  font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #fff;
  font-weight: 600;
  color: #001745;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  transition: all 300ms;
  cursor: pointer;
}
.drs_chat:hover{
  background-color: #001745;
  color: #fff;
}