
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191823;
    justify-content: center;
}
#form1{
    z-index: 1;
    color: white;
    overflow:hidden;
    animation: form 900ms;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 40%;
    background-color:#3d3f4e;
}
input{    
    outline: 0;
    border: 0;
    color: #ffffff;
    border-bottom:1px ;
    border-color: white;
    background-color: #20212a00;
    border-style: solid;
    width: 150px;
    transition: all 300ms;
}
button{
    height: 30px;
    width: 150px;
    margin-top: 4%;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    transition: all 300ms;
}
button:hover{
    color: white;
    background-color: #20212a;
}
@media only screen and (max-width: 900px) {

    #form1 {
        width: 90%;
    }
    input {
        width: 200px;
    }

}