@keyframes sll2 {
    0% {transform:translateY(-10vh);}
    100%  {transform: translateY(0vh);}
  }

  header{
    animation: sll2 1s ;
    justify-content:space-between;
    width: 90vw;
    height:10vh;
    color: #ffffff;
    align-items: center;
    display:flex;
    flex-direction: row;
    background-color:#1d1f2c;
  }  
  ul,li{
    justify-content: space-between;
    display: inline-block;
    margin-left: 5%;    
  }
  ul{
    width: 40%;
    height: fit-content;
  }
  .links{
    margin: 0;
    text-decoration: none;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.2vw;
	  cursor:pointer;
    border: 0;
    border-bottom:0px ;
    transition: all 200ms;
  }
  .links:hover{
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1f30af;
    padding-bottom:4px ;
      }
  .user-logo{
    user-select: none;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 100%;
    width: fit-content;
    height: 20px;
    margin-right: 2%;
    justify-content: baseline;
    display: flex;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: larger;
    align-items: center;
  }
  #login-logo{
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
  }
  .login-logo-img{
    width:30px ;
    display: flex;
  }
  .search-logo{
    margin: 0;
    margin-right: 0;
    font-family:  "Maven Pro",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.2vw;
    width: fit-content;
    margin-top: 1vh;  
}
  .search{
    transition: 100ms;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom:1px ;
    border-style:groove;
    border-color: #ffffff;
    padding-bottom:3px ;
    width:5vw ;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 0px ;
    font-size: 0.8vmax;   
    outline: 0;
     
  }
  .search:focus,.search:hover{
    width: 8vw;
    margin-left: 2vw;
    transform: scale(8vw,0);
  }
  .logo-img{
    width: 15vw;
     margin-left: 1%;
	  cursor:pointer;
  }
.search-logo-img{
    width: 1vw; 

  }
  .user-logo{
    width: fit-content; 
  }

      /****************** profile */


      #profile{
        border-radius: 10px;
        font-family: 'Arial', sans-serif;
        color: rgb(10, 4, 39);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        margin-top: -60vh;
        margin-right: 7vw;
        right: 0;
        z-index: -3;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        width: 200px;
        height: 400px;
        background-color: #e1e1e5;
        transition: all 300ms;
        font-weight: 600;
    
      }
      #profile_photo{
        width: 100px;
        height: 100px;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
      }
      #profile_photo img{
        width: 100px;
      }
      #change_photo,#change_photo a{
        width: 100%;
        height: 30px;
        text-align: center;
        color: rgb(10, 4, 39);
        text-decoration: none;
    
      }
      #change_name, #change_name a{
        width: 100%;
        height: 30px;
        text-align: center;
        color: rgb(10, 4, 39);
        text-decoration: none;
      }
      #change_photo a,#change_name a{  
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #out_form, #out_form button{
        width: 100%;
        height: 30px;
        text-align: center;
        color: rgb(10, 4, 39);
        text-decoration: none;
    
      }
      #out_form button{    
        font-weight: 600;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
      }
      #change_photo,#change_name,#out_form{
        font-size: 15px;
        font-family: 'Arial', sans-serif;
        background-color: #e1e1e5;
        transition: all 300ms;
      }
      #change_photo:hover,#change_name:hover,#out_form:hover{
        background-color: #ffffff;
      }