#loading-screen {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(30, 29, 33);
	z-index: 9999;
  transition: all 500ms ease-in-out ;
  }
  @keyframes  intro {
	0% {opacity: 0;}
	10% {opacity: 1;}
	20% {opacity: 0;}
	30% {opacity: 1;}
	40% {opacity: 0;}
	50% {opacity: 1;}
	60% {opacity: 0;}
	70% {opacity: 1;}
	80% {opacity: 0;}
	90% {opacity: 1;}
	100% {opacity: 0;}
   }
  #loading-screen #logo-intro {
	position: absolute;
	top: 50%;
	left: 50%;
	animation:intro 6000ms infinite;
	transform: translate(-50%, -50%);
  }
/* Style for the section element */
.scrollable-section {
    background-color: rgba(0, 25, 49, 0);
    align-self: center;
    width: 40%;
    height: 100%;
    white-space: nowrap;
  }
  
  /* Style for the photo grid */
  .photo-grid {
    background-color: #19182300;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* Style for the photo container */
  .photo-container {
    cursor: pointer;
    display: flex;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #1a1c27;
    background-image: linear-gradient(270deg,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0));
    justify-content: center;
    height: 100%;
    transition: all 500ms;
  }
  .photo-container:hover{
    background-image: linear-gradient(270deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0));
  }
  
  /* Style for the photo */
  .photo {
    display: block;
    width: 10%;
    height: auto;
  }
    #big_photo_container{
      background-color: #1a1c27;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
      white-space: nowrap;
    }
    #big_photo{
      display: flex;
      width: 400px;
      margin-right: 10px;
      margin-left: 10px;
      overflow: hidden;
      position: relative;
      align-items: center;
      background-color: #1a1c27;
      justify-content: center;
      height: 300px;
    }
    .big_photo_text{
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #00000000;
      width: 500px;
      white-space:pre-line;
      animation: animeee 500ms;
      padding-left: 30px;

    }
    .big_photo_text2{
      text-align: center;
      width: 500px;
    }
    .big_photo_text2 a{
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      cursor: pointer;
    }
    @keyframes animeee {
      0%{
            opacity: 0;
      }
      100%{
          opacity: 1;
      }
    }
    #big_photo img{
      width: 400px;
      transition: all 400ms;
      animation: animeee 500ms;
    }
    .broadcats_photos{
      display: none;
    }
    .photo0{
      display: block;
    }
    .big_photo_text{
   display: none;
    }
    .text0{
      display:block;

    }


  #out-links{
    background-color: #1d1f2c;
    color: #fff;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #out-links img{
    width:150px;
  }

  #techno-tour-notify,#techno-tour-notify2{
    font-size: medium;
    margin-top: 10%;
    background-color: #1d1f2c;
    color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
  }

    #about-det{
      background-color: rgba(0, 0, 0, 0.412);
      width: 100vw;
      height: 90vh;
      margin-top: 10vh;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      z-index: 3;
      transition: all 1000ms;
    }
    .about-dets{
        width: 30vw;
        height: 100%;
        background-color: #1d1f2c;
    }
    #about-ex{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        z-index: 4;
        border-radius: 5px;
        font-size: 30px;
        color: white;
        top: 30px;
        right: 30px;
        width: 30px;
        text-align: center;
        height: fit-content;
        transition: all 300ms;
        cursor: pointer;
    }
    #about-ex:hover{
    background-color: rgba(31, 0, 115, 0.533);
    }
    @keyframes  ani_det {
        0% { width: 0%;}
        100% { width: 100%;}
       }
    #detailes{
        align-self: center;
        position: fixed;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        animation: ani_det 2000ms;
    }
    @keyframes  ani_det1 {
        0% { margin-left: -30vw;}
        100% { margin-left: 0vw;}
       }   
    @keyframes  ani_det2 {
            0% { margin-right: -30vw;}
            100% { margin-right: 0vw;}
       }
       #about-det-1{
          animation: ani_det1 1000ms;
       }
       #about-det-2{
        animation: ani_det2 1000ms;
       }


    .building_det,.building_det2{
        font-family:  "Maven Pro",Impact;
        font-size: 25px;
        display: block;
        width: 100%;
    }
    .building_det:nth-child(1){
      margin-top: 8vh;
      margin-left: 37vh;
      
    }
    .building_det:nth-child(2){
        margin-top: 7vh;
        margin-left: 35vh;
      
    }  .building_det:nth-child(3){
        margin-top: 22vh;
        margin-left: 22vh;
      
    }  .building_det:nth-child(4){
        margin-top: 6vh;
        margin-left: 25vh;
      
    }  .building_det:nth-child(5){
        margin-top: 6vh;
        margin-left: 23vh;
      
    }
    .building_det2:nth-child(1){
        margin-top: 15vh;
        margin-left: 15vh;
        
      }
      .building_det2:nth-child(2){
          margin-top: 1vh;
          margin-left: 5vh;
        
      }  .building_det2:nth-child(3){
          margin-top: 25vh;
          margin-left: 5vh;
        
      }
/***************animate every litter**************/
@keyframes warp {
  0% {
    transform: scale3d(1,1,1);   
   }

  50%{
    transform: scale3d(0.8,1.7,1.7);
    color: dodgerblue;
  }
  100% {
    transform: scale3d(1,1,1); 
}
}
@keyframes warp2 {
    from{
        transform: scale3d(0.8,1.7,1.7);
        color: dodgerblue;
    }
 to{
    transform: scale3d(1,1,1);
    color: white;
 }
}
.animate{
display: inline-block;
animation: warp2 500ms forwards;
animation-timing-function: ease-in-out
}
.animate:hover{
  animation: warp 500ms forwards;
  animation-timing-function: ease-in-out;
}

#footer{
  position: absolute;
  bottom: -0.5%;
  background-color: #1d1f2c;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: row;
  height: 80px;
  width: 100vw;
  z-index: 3;
  font-family: 'Calibri Light',Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#footer_words{
  display: flex;
  align-items: center;
  width: 70vw;
  text-align:center;
  color: #555555;
}
#footer_copy{
  color: #555555;
  text-align:start;
  width: fit-content;
  align-self: center;
}